::ng-deep .mat-accent .mdc-list-item__start,
::ng-deep .mat-accent .mdc-list-item__end {
    --mdc-radio-selected-focus-icon-color: #3b2479;
    --mdc-radio-selected-hover-icon-color: #3b2479;
    --mdc-radio-selected-icon-color: #3b2479;
    --mdc-radio-selected-pressed-icon-color: #3b2479;
}